.board__options {
    display: flex;
    width: 100vw;
    background: linear-gradient(223deg, rgba(255, 255, 255, 0.397)rgba(255, 255, 255, 0.212));
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(2px);
    padding: 1px;

    & > * {
        cursor: pointer;
    }
    
    & .board__optionsLeft {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px;
        width: 40rem;
        
        & .board__dropdown {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            background: linear-gradient(214deg, #ffffff52, #ffffff59);
            height: 2.5rem;
            border-radius: 6px;
            width: 6.5rem;
        }
        
        & .board__name {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            background: linear-gradient(214deg, #ffffff52, #ffffff59);
            height: 2.5rem;
            border-radius: 6px;
            width: 7rem;
        }

        & .board__star {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            background: linear-gradient(214deg, #ffffff52, #ffffff59);
            height: 2.5rem;
            border-radius: 6px;
        }

        & .board__team {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            background: linear-gradient(214deg, #ffffff52, #ffffff59);
            height: 2.5rem;
            border-radius: 6px;
            width: 9rem;
            
            & p {
                padding: 5px;
                background: linear-gradient(227deg, #ffffff9f, #b6b6b659);
                border-radius: 15px;
                height: 1.1rem;
                display: flex;
                align-items: center;
                font-size: 15px;
            }

        }

        & .board__status {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            background: linear-gradient(214deg, #ffffff52, #ffffff59);
            border-radius: 6px;
            width: 5.5rem;
            height: 2.5rem;
        }

        & .board__users__invite {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            background: linear-gradient(214deg, #ffffff52, #ffffff59);
            border-radius: 6px;
            height: 2.5rem;
            width: 4rem;
            font-size: 1.1rem !important;
            font-weight: bold;
        }

    }

    .board__optionsRight {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20rem;
        padding: 5px;
    
        & .board__calender {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            background: linear-gradient(214deg, #ffffff52, #ffffff59);
            border-radius: 6px;
            height: 2.5rem;
            width: 6rem;
        }
    
        & .board__butler {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            background: linear-gradient(214deg, #ffffff52, #ffffff59);
            border-radius: 6px;
            height: 2.5rem;
            width: 5rem;
        }
    
        & .board__menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            background: linear-gradient(214deg, #ffffff52, #ffffff59);
            border-radius: 6px;
            height: 2.5rem;
            width: 7.5rem;
        }
    
    }

}